body {
	margin:  0px;
	padding:  0px;
	background:  #000;
}

.bottle {
	width: 726px;
	height: 640px;
	position: absolute;
	top: -108px;
	left: 250px;
}

#debug {
	position: absolute;
	top: 20px;
	left: 20px;
	padding: 10px;
	color: #ccc;
	background: #333;
	float: left;
	font-size: 0.8em;
	font-family: terminal, monospace;
}

.cursor {
	position: absolute;
	width: 29px;
	height: 32px;
	border:  1px dotted #000;
	z-index: 90000;
}

#isomaton {
	height: 100%;
	width: 100%;
}
#isomaton canvas {
	top:0;
	left: 0;
	z-index: 10000;
	position: absolute;
}
